@import url(/node_modules/bootstrap-icons/font/bootstrap-icons.css);
@import 'custom';

html {
  min-height: 100%;
  position: relative;
}

body {
    min-height: 100vh;
  }

main {
    padding: 0 15px;
    margin-bottom: 250px; // Adjust this value to match the height of your footer
}

footer.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
}

p {
    font-family: $font-family-serif;
    font-size: 18px;
}

.hero-scene {
  background-image: url('https://cdn.pixabay.com/photo/2019/04/04/15/30/hamburger-4103070_1280.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width : 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero-scene::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4); // fondu sombre
  z-index: 0;
}

.hero-scene-content {
  position: relative;
  z-index: 1;
}

.text-justify {
  text-align: justify;
}

.image-card {

  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease;

  &:hover {
    .titre-image{
      opacity: 1;
    };
  }

  img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    transition: all 0.3s;
  }
  .titre-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: all 0.3s;
  }
}